@page "/order/{orderId}"
@using Microsoft.AspNetCore.Authorization
@using Web.Client.Models

@attribute [Authorize]
@rendermode InteractiveWebAssembly

@if (Order is not null)
{
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="p-5">
                        <h5>Your order is confirmed!</h5>
                        <span class="font-weight-bold d-block mt-4">Hello, @Order.FirstName @Order.LastName</span>
                        <div class="border-top mt-3 mb-3 border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order Date</span>
                                            <span>@Order.CreatedAt</span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order No</span>
                                            <span>@Order.Id</span>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Shipping Address</span>
                                            <span>@Order.Email</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="product border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                @foreach (var item in Order.OrderItems)
                                {
                                    <tr>
                                        <td width="20%">
                                            <img src="@item.Product.Thumbnail" width="90">
                                        </td>
                                        <td width="60%">
                                            <span class="font-weight-bold">@item.Product.Title</span>
                                            <div class="product-qty">
                                                <span class="d-block">Quantity: @item.Quantity</span>
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <span class="font-weight-bold">$ @item.Price</span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>

                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5">
                                <table class="table table-borderless">
                                    <tbody class="totals">
                                    <!--
                                <tr>
                                    <td>
                                        <div class="text-left">
                                            <span class="text-muted">Discount</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right">
                                            <span class="text-success">$168.50</span>
                                        </div>
                                    </td>
                                </tr>
                                    -->
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">
                                                <span class="font-weight-bold">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">$@Order.TotalCost</span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>loading</p>
}


@inject ApiService Api

@code {
    private bool loaded = false;
    [Parameter] public string? orderId { get; set; }

    private Order? Order;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loaded = true;
            if (orderId is not null)
            {
                var orderResponse = await Api.GetOrder(orderId);
                Order = orderResponse;
            }
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}